{% extends 'HOME/base.html' %}
{% load static %}
{% block body %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Departments</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                  <li class="breadcrumb-item active">Departments</li>
               </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
               <a href="{% url 'add_department' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card card-table">
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                           <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>HOD</th>
                              <th>Started Date</th>
                              <th>No of Students</th>
                              <th class="text-right">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for department in departments %}
                           <tr>
                              <td>{{ department.department_id }}</td>
                              <td>{{ department.name }}</td>
                              <td>{{ department.head_of_department }}</td>
                              <td>{{ department.start_date|date:"d M Y" }}</td>
                              <td>{{ department.number_of_students }}</td>
                              <td class="text-right">
                                 <div class="actions">
                                    <a href="{% url 'edit_department' department.id %}" class="btn btn-sm bg-success-light mr-2"><i class="fas fa-pen"></i></a>
                                    <button type="button" class="btn btn-sm bg-danger-light" data-toggle="modal" data-target="#delete_department_{{ department.id }}"><i class="fas fa-trash"></i></button>
                                 </div>
                              </td>
                           </tr>
                           <div class="modal fade" id="delete_department_{{ department.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header bg-danger text-white">
                                       <h5 class="modal-title">Delete Department</h5>
                                       <button type="button" class="close text-white" data-dismiss="modal"><span>&times;</span></button>
                                    </div>
                                    <div class="modal-body">Are you sure you want to delete {{ department.name }}?</div>
                                    <div class="modal-footer">
                                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                       <form action="{% url 'delete_department' department.id %}" method="POST">
                                          {% csrf_token %}
                                          <button type="submit" class="btn btn-danger">Yes, delete</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           {% empty %}
                           <tr>
                              <td colspan="6" class="text-center">No departments found.</td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
