{% extends 'HOME/base.html' %}
{% load static %}
{% block body %}
<div class="page-wrapper">
   <div class="content container-fluid">
      <div class="page-header">
         <div class="row align-items-center">
            <div class="col">
               <h3 class="page-title">Teachers</h3>
               <ul class="breadcrumb">
                  <li class="breadcrumb-item"><a href="{% url 'index' %}">Dashboard</a></li>
                  <li class="breadcrumb-item active">Teachers</li>
               </ul>
            </div>
            <div class="col-auto text-right float-right ml-auto">
               <a href="{% url 'add_teacher' %}" class="btn btn-primary"><i class="fas fa-plus"></i></a>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-sm-12">
            <div class="card card-table">
               <div class="card-body">
                  <div class="table-responsive">
                     <table class="table table-hover table-center mb-0 datatable">
                        <thead>
                           <tr>
                              <th>ID</th>
                              <th>Name</th>
                              <th>Class</th>
                              <th>Gender</th>
                              <th>Subject</th>
                              <th>Section</th>
                              <th>Mobile Number</th>
                              <th>Address</th>
                              <th class="text-right">Action</th>
                           </tr>
                        </thead>
                        <tbody>
                           {% for teacher in teachers %}
                           <tr>
                              <td>{{ teacher.teacher_id }}</td>
                              <td>
                                 <h2 class="table-avatar">
                                    <a href="{% url 'teacher_detail' teacher.id %}" class="avatar avatar-sm mr-2">
                                       {% if teacher.teacher_image %}
                                          <img class="avatar-img rounded-circle" src="{{ teacher.teacher_image.url }}" alt="Teacher Image">
                                       {% else %}
                                          <img class="avatar-img rounded-circle" src="{% static 'img/profiles/avatar-01.jpg' %}" alt="Teacher Image">
                                       {% endif %}
                                    </a>
                                    <a href="{% url 'teacher_detail' teacher.id %}">{{ teacher.name }}</a>
                                 </h2>
                              </td>
                              <td>{{ teacher.teacher_class }}</td>
                              <td>{{ teacher.gender }}</td>
                              <td>{{ teacher.subject }}</td>
                              <td>{{ teacher.section }}</td>
                              <td>{{ teacher.mobile }}</td>
                              <td>{{ teacher.address }}</td>
                              <td class="text-right">
                                 <div class="actions">
                                    <a href="{% url 'edit_teacher' teacher.id %}" class="btn btn-sm bg-success-light mr-2"><i class="fas fa-pen"></i></a>
                                    <button type="button" class="btn btn-sm bg-danger-light" data-toggle="modal" data-target="#delete_teacher_{{ teacher.id }}"><i class="fas fa-trash"></i></button>
                                 </div>
                              </td>
                           </tr>
                           <div class="modal fade" id="delete_teacher_{{ teacher.id }}" tabindex="-1" role="dialog" aria-hidden="true">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                 <div class="modal-content">
                                    <div class="modal-header bg-danger text-white">
                                       <h5 class="modal-title">Delete Teacher</h5>
                                       <button type="button" class="close text-white" data-dismiss="modal"><span>&times;</span></button>
                                    </div>
                                    <div class="modal-body">Are you sure you want to delete {{ teacher.name }}?</div>
                                    <div class="modal-footer">
                                       <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                       <form action="{% url 'delete_teacher' teacher.id %}" method="POST">
                                          {% csrf_token %}
                                          <button type="submit" class="btn btn-danger">Yes, delete</button>
                                       </form>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           {% empty %}
                           <tr>
                              <td colspan="9" class="text-center">No teachers found.</td>
                           </tr>
                           {% endfor %}
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'plugins/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'plugins/datatables/datatables.min.js' %}"></script>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
